@import"_mixin";
$button_color: rgba(101,80,64,0.91);
$button_color_2: rgba(118, 92, 73, 0.91);

.section1 .image1 {
  width: 400px;
  height: 400px;
  margin: -11px auto 0;
}
.section2 .form1 {
  width: 570px;
  margin: 39px auto;
}
.section2 .input1, .input2, .input3 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    font-weight: 700;
}
@media (max-width: 575px) {
  .section2 .form1 {
    width: 300px;
  }
}
.btn {
    display: table;
    text-decoration: none;
    border: 0 none transparent;
    padding: 10px 30px;
}
.input {
    display: block;
    width: 100%;
    padding: 10px 12px;
}
.formvert.formsp15 .formgroup,
.formvert.formsp15 .formstep .formgroup {
    margin-bottom: 15px;
}
.label-none:not(.u-form-agree):not(.u-form-checkbox) > label {
    display: none !important;
}
.formcontrol-hidden {
    display: none !important;
}
.form .btn-submit,
.form .btn-step {
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
}
.form-horizontal.formsp15 .formgroup {
    margin-right: 15px;
}
.buttonst.color-5 {
    color: #ffffff !important;
    background-color: &button_color !important;
}
.buttonst.color-5:hover {
    color: #ffffff !important;
    background-color: &button_color_2 !important;
}
.input {
    border-width: 1px;
}